body {
    font-family: 'Raleway',sans-serif;
    min-height: 400px;
    background-image: url('https://image.flaticon.com/icons/png/512/201/201635.png');
    background-color: rgb(78, 78, 78);
    background-size: 80vh;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    height: 100vh;
  }
  
  .page-title {
    color:#000000;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color:#000000;
    margin-top: 5px;
    font-weight: 700;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  label {
    color: #000000;
    font-weight: 500;
  }